
body, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .subheading  {
    font-family: "Noto Sans TC";
    text-transform: none;
}

:root {
    --bs-primary-rgb: 25, 25, 112;
    --bs-link-color: 25, 25, 112;
    --bs-link-hover-color: rgb(25, 25, 112);
}

.social-icons .social-icon:hover {
    background-color: rgb(25, 25, 112);
}